*{
	margin:0px;
	padding:0px;
	

}

div.parte1{
	width:100%;
	height:50px;
	background-color: #F2F2F2;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
	border: 2px solid #BDBDBD;
	margin:0px;
}
div#par1{
	margin: 0px 50px 0px 0px;
	float:right;

}
div#par1{
	margin: 0px 50px 0px 0px;
	float:right;

}
div#part1{
	margin: 0px 40px 0px 0px;
	float:right;

}
div.parte2{
	width:100%;
	height:100px;
	background-color: #BDBDBD;
	line-height: 40px;
	font-size: 22px;

}

div.cuerpo{
	width:100%;

	background-color: #F2F2F2;

}

div.contenido{
	width: 60%;
	height: 100px;
	background-color: #BDBDBD;
	font-family: Verdana;
	font-weight: bold;
	margin: auto;
}

div.i{
	width: 60%;
	height:250px;
	background-color: #F2F2F2;
	margin: auto;
}
div#div1{
	width: 95%;

	margin: auto;
	border: 2px solid #F5D0A9;

}
div#div2{
	width: 95%;
	margin: auto;
	
}
div#div3{
	width: 95%;
	height:260px;
	margin: auto;
	
}

div#coment{
	width: 95%;
	margin: auto;



}

div.p{
	margin: auto;
	background-color: #BDBDBD;
}
div#p1{
	margin: auto;
	background-color: #BDBDBD;
	width: 70%;
	border: 2px solid #F5D0A9;
}div#p2{
	margin: auto;
	background-color: #BDBDBD;
	width: 70%;
	border: 2px solid #F5D0A9;
}div#p3{
	margin: auto;
	background-color: #BDBDBD;
	width: 70%;
	border: 2px solid #F5D0A9;
}
.color {

    font-family:arial;
    color: #1655F5;
}

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:25px;
	width:85px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 9px;
	text-align:center;
	margin-top:4px;
}
#butto{
    display: inline-block;
    height:25px;
	width:85px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 9px;
	text-align:center;
	margin-top:4px;
}
#butt{
    display: inline-block;
    height:25px;
	width:85px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 9px;
	text-align:center;
	margin-top:4px;
}
.list {
	font-family:garamond;
	color:#cc0000;

}
.lis {
	font-family:garamond;
	color:#cc0000;

}
.li {
	font-family:garamond;
	color:#cc0000;
	
}
div#posts1{
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
	border-radius: 10px 10px;
	border: 4px solid #000000;
	
}

div.posts2{
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
	border-radius: 10px 10px;
	border: 4px solid #000000;
	
}
div.posts3{
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
	border-radius: 10px 10px;
	border: 4px solid #000000;
	
}



