*{
	margin:0px;
	padding:0px;
	font-family: helvetica;
}

body{
	overflow-x:hidden; 
	background: url(../pictures/j.jpg);
	background-size: 1295px 1000px; 
	

	
}
p{
	font-family: Verdana;
	font-size: 40px;
	color:#F4EFEF;
	margin: 100px 60px 0px 0px;
	float:left;



}


div#banner{

	float:right;
	width:300px;
	height:800px;

}

div#info{
	margin: 0px 0px 0px 0px;
	float:right;
	width:200px;
	height:400px;
	margin-right:-200px;
	background-color:transparent;
	-webkit-transition: margin-right .6s;
	color:white;
	text-align: center;
	font-family: Garamond, serif;
}

div#banner:hover div#info{
	margin-right: 0px;
}




